div.logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.logo h2 {
    color: #fff;
}

div.break {
    flex-basis: 100%;
}

div.logo small {
    color: #fff;
}

#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }